<div class="container mt-4">
  <h3 class="text-center">Employee List</h3>

  <table class="table table-bordered table-striped mt-3">
    <thead class="table-dark text-center">
      <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Role</th>
        <th>Salary</th>
        <th>Actions</th>
      </tr>
    </thead>

    <tbody class="text-center">
      <tr *ngFor="let emp of employees">
        <td>{{ emp.name }}</td>
        <td>{{ emp.email }}</td>
        <td>{{ emp.role }}</td>
        <td>{{ emp.salary }}</td>
        <td>
          <button class="btn btn-warning btn-sm me-2"
            (click)="updateEmployee(emp.id)">
            Edit
          </button>

          <button class="btn btn-danger btn-sm"
            (click)="deleteEmployee(emp.id)">
            Delete
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>